body {
  padding-top: 56px;
}
.header-section {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.tagline-section {
  padding: 50px 0;
  background-color: #f8f9fa;
}
.skills-hobbies-section {
  padding: 50px 0;
}
.skills-hobbies-section ul {
  list-style-type: none;
  padding-left: 0;
}
.skills-hobbies-section li {
  margin-bottom: 10px;
}
.hbig {
  font-weight: bold;
  color: #007bff;
}
.hbig {
  font-size: 18px;
  font-weight: 500;
}
.lead {
  font-size: 25px;
}
.footer-section {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
}
